* {
    font-family: "Inter";
    font-size: 9pt;
    font-weight: 500;
    min-height: 0;
    margin: 0;
}

window#waybar {
    background: #000000;
    border: none;
    margin: 0;
    min-height: 0;
}

#custom-workspace,
#clock,
#tray,
#battery {
    font-family:
        "Symbols Nerd Font",
        "Inter";
    background: transparent;
    color: #8a8a8a;
    border: none;
/*
    padding: 0 6px;
*/
    margin: 0;
    min-height: 0;
}

#battery.charging {
    color: #00e5ff;
}

#battery.warning {
    color: #ffb86c;
}

#battery.critical {
    color: #ff5555;
}

#custom-workspace {
/*
    font-family: "Inter";
    font-size: 8pt;
*/
    color: #00e5ff;
    font-weight: 500;
    padding-left: 0px;
    padding-right: 0px;
}

#custom-window {
/*
    font-family: "Inter";
    font-size: 8pt;
*/
    font-weight: 500;
    color: #8a8a8a;
    padding-left: 4px;
}

#window {
    color: #8a8a8a;
    padding-left: 4px;
}

#custom-media {
/*
    font-family: "Inter";
    font-size: 8pt;
*/
    color: #8a8a8a;
    padding-left: 6px;
    padding-right: 6px;
}

#tray {
    min-width: 0px;
    min-height: 0px;
    padding-right: 6px;
    margin: 0;
}

#tray menu {
    font-family: "Inter";
    font-family: "Source Code Pro";
    font-size: 8pt;
    margin: 0;
}

#clock {
/*
    font-family: "Inter";
*/
    color: #00ff85;
    min-height: 0;
    margin: 0;
}

#pulseaudio {
    font-family:
        "Symbols Nerd Font",
        "Source Code Pro";
    font-size: 12pt;
    color: #00e5ff;
    padding-right: 6px;
    min-height: 0;
    margin: 0;
}

#bluetooth {
    font-family:
        "Symbols Nerd Font",
        "Source Code Pro";
    font-size: 10pt;
    color: #00e5ff;
    padding-right: 6px;
    min-height: 0;
    margin: 0;
}

#network {
    font-family:
        "Symbols Nerd Font",
        "Source Code Pro";
    font-size: 10pt;
    color: #00e5ff;
    padding-right: 6px;
    min-height: 0;
    margin: 0;
}

#custom-powerprofile {
    font-size: 10pt;
    color: #00e5ff;
    padding-right: 6px;
    min-height: 0;
    margin: 0;
}

#custom-powerprofile.performance {
    color: #ffffff;
}

#custom-powerprofile.balanced {
    color: #00e5ff;
}

#custom-powerprofile.power-saver {
    color: #7dd3fc;
}

.modules-left {
    padding-left: 8px;
    padding-right: 0px;
    margin: 0;
}
.modules-center {
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
}
.modules-right {
    padding-left: 0px;
    padding-right: 8px;
    margin: 0;
}
