polkit.addRule(function(action, subject) {
    if (
        action.id == "org.freedesktop.UPower.PowerProfiles.switch-profile" &&
        subject.user == "gene"
    ) {
        return polkit.Result.YES;
    }
});
